@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --hovered: #dddddd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    font-size: xx-large;
  }

  button, input {
    border: 1px solid var(--foreground);
    border-radius: 5px;
    margin: 0.1em;
    padding: 0.2em;
  }

  button:hover {
    cursor: pointer;
    background: var(--hovered);
  }
}